<div class="container">

<h2> GET request to /cool_url</h2>
  <form action= "/cool_url" method='GET'>
    <input type="text" name="input">
    <input type="submit" value="Push It">
  </form>
  <br>

<h2> POST request to /cool_url</h2>
  <form action= "/cool_url" method='POST'>
    <input type="text" name="input[name]">
  <br>

  <textarea cols="40" rows="5" name="textarea[description]">This is inside the text area.
  </textarea>
  <input type="submit" value="Push It">
  <br>

  <input type="radio" value="public"> Public<br>
  <input type="radio" value="private" checked> Private<br>

  </form>
  <br>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
</div>
